<% provide(:title, "Edit user") %>
<div class="container-fluid block block-user-1">
  <div class="layer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Update profile</h1>
        <%= form_for @user do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :name %>
          <%= f.text_field :name, class: 'user-settings' %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'user-settings' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'user-settings' %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'user-settings' %>

          <%= f.submit "Save changes", class: "btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
