<% provide(:title, "Signup") %>
<div class="container-fluid block-new-user-1">
  <div class="layer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Signup</h1>
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>
          <br />
          <br />
          <br />
          <%= f.label :name %>
          <%= f.text_field :name %>

          <br />
          <%= f.label :email %>
          <%= f.email_field :email %>

          <br />
          <%= f.label :password %>
          <%= f.password_field :password %>

          <br />
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>
          <br />

          <%= f.submit "Create my account", class: "btn-lg" %>
          <br />
          <br />
          <br />
          <br />
        <% end %>
      </div>
    </div>
  </div>
</div>
