<% provide(:title, @user.name) %>
<div class="container-fluid block block-user-1">
  <div class="layer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>
        <% if flash[:success] %>
            <div class="update-success"><%= flash.now[:success] %></div>
        <% end %>
          <%= @user.name %>
          <span class="edit_profile">
            <%= link_to image_tag("settings_pencil.png", size: "40"), edit_user_path(current_user) %>
          </span>
        </h1>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <div class="user-features">
          <%= link_to image_tag("text_profile.png"), "/message_setup/" %>
            <p>Get me to text you</p>
          <%= link_to image_tag("fb_circle.png"), facebook_index_path %>
            <p>Get me to post on your wall</p>
          <%= link_to image_tag("user_chat.png"), chat_index_path %>
            <p>Come chat with me</p>
        </div>
      </div>
    </div>
  </div>
</div>
