<% provide(:title, @user.name) %>
<div class="container-fluid block block-user-1">
  <div class="layer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1><%= @user.name %></h1>
        <%= link_to "Edit Profile", edit_user_path(current_user) %>
        <h2><%= @user.email %></h2>
        <h2><%= @user.phone_number %></h2>
        <h2><%= @user.twitter_handle %></h2>
        <p class="about-text">
        </p>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <p>
        <%= link_to "Text me", users_send_message_path %> <br><br>
        <%= link_to "facebook", facebook_index_path %> <br><br>
        <%= link_to "chat", chat_index_path %>
        </p>
      </div>
    </div>
  </div>
</div>
