<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | She</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li>
        <%= link_to "Home", root_url, class: 'nav-button' %>
      </li>
      <li>
        <%= link_to "About", class: 'nav-button' %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
