<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | She</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="logo">
        <h1>She</h1>
      </div>
      <div class="links">
        <ul>
          <li>
            <%= link_to "Home", root_path, class: 'nav-button' %>
          </li>
          <li class="right-link">
            <%= link_to "About", about_path, class: 'nav-button' %>
          </li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
