<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | She</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="layer">
      <div class="navbar container-fluid">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="logo">
              <h1>SHE</h1>
            </div>
            <div class="links">
              <ul>
                <li>
                  <%= link_to "Home", root_path, class: 'nav-button' %>
                </li>
                <li class="right-link">
                  <%= link_to "About", about_path, class: 'nav-button' %>
                </li>
                <li class="right-link">
                  <%= link_to "Login", '#', class: 'nav-button' %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
